/* pages/index1/index.wxss */
.weui-demo-dialog{
    visibility:hidden;
    opacity:0;
    transition:opacity .3s;
  }
  .weui-demo-dialog_show{
    visibility:visible;
    opacity:1;
  }
  .weui-article__img{
      width: 75%;
  }
  .weui-text_important{
      color: #c96043;
  }
page{
    width: 100vw;
    height: 100vh;
    background-color: #c96043;
    display: flex;
    justify-content:center;
    
}
.search_wrap {
    margin-top: 5vw;
    width: 90vw;
    height: 80vh;
    background-color: #fcf3df;
    border-radius: 10rpx;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    .bolck{
        flex:10;
    }
    .search_titile{
        flex: 3;
        text-align: center;
        margin-top:30vw;
        font-size: 40rpx;
        color: #c96043;
    }
    .search_input_box{
        border: 5rpx solid #c96043;
        border-radius: 10rpx;
        margin-left: 40rpx;
        margin-right: 40rpx;
        .search_item{
            padding-top: 20rpx;
            padding-bottom: 20rpx;
            display: flex;
            .iconfont{
                height: 50rpx;
                line-height: 50rpx;
                font-size: 50rpx;
            }
            .input_text{
                padding-left: 10rpx;
                height: 50rpx;
                font-size: 50rpx;
            }
        }
        
    }

   
}

.upload_content {
    text-align: center;
    background: #fcf3df;
    height: 100%;
    .upload_img {
        width: 100%;
    }

    .upload_title {
        font-size: 40rpx;
        font-weight: 600;
        margin-bottom: 40rpx;
        color: #c96043;
    }
}

.result_content {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fcf3df;
    .result_img {
        width: 100%;
    }

    .result_info_wrap {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        top:20%;
        width: 100%;
        .result_null_wrap{
            .result_null_text{
                color: #fff;
                padding: 20rpx;
            }

        }   
        .result_title{
            font-size: 40rpx;
            font-weight: 600;
            margin-bottom: 40rpx;
        }
        .result_item{
            color: #fff;
            padding: 20rpx;
        }
        .view_item{
            color: #fff;
            padding: 20rpx;
        }
        .result_feedback_wrap{
            display: flex;
            align-items: center;
            .feedback_btn{
                flex: 1;
                display: flex;
                .btn_bolck{
                    flex:1;
                }
                .btn_text{
                    flex:1;
                    background-color: #fcf3df;
                    border: 5rpx solid #c96043;
                    border-radius: 10rpx;
                    color: #c96043;
                }
            }
            .feedback_text{
                flex: 1;
                color: #fff;
                padding: 20rpx;
            }
        }
    }
}